.table-header {
    background-color: #f2f2f2;
    font-weight: bold;
  }

  .table-header th{
    text-align: center;
    padding-right: 1%;
    padding-bottom: 2%;
  }
  
  .table-row:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .table-row:hover {
    background-color: #e0e0e0;
  }
  