.login-container {
  margin-bottom: 20px;
  padding: 20px 0px;
  background: #f4f4f4;
  border-radius: 8px;
  width: 400px;
  margin: 0 auto;
  margin-bottom: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.meta {
  font-size: 24px;
  text-align: center;
  padding: 10px 20px;
  background: #d7d7d7;
  color: #fff;
  border-radius: 8px 8px 0 0;
}

.entry {
  padding: 20px;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form label {
  margin-bottom: 10px;
  font-size: 16px;
  color: #333;
  text-align: left ;
}

.form input,
.form select {
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.form button {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 12px;
  font-size: 16px;
}

.form button:hover {
  background-color: #0056b3;
}

.form h4 {
  color: red;
  margin-top: 10px;
}

.form h5 {
  text-align: center;
  margin-top: 10px;
}

.form a {
  color: #007bff;
  text-decoration: underline;
}

.form a:hover {
  text-decoration: none;
  cursor: pointer;
}
