/* styles.css */
/* .prd-container{
    width: 85%;
    margin: 0 auto;
    text-align: center;
}
.prd-container h1{
  margin-bottom: 1%;
} */
/* Container for the grid */
/* .prd-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
  }

  .single-prd-grid-container{
    display: grid;
    width: 40%;
    margin: 0 auto;
  } */
  
 /* styles.css */

/* Container for the grid */
/* .grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; 
} */

/* Style for each grid item */
/* .grid-item {
  list-style: none;
  border: 1px solid #ddd; 
  padding: 10px;
  text-align: center;
} */

/* Style for the product image */
/* .grid-item img {
  width: 100%; 
  height: 450px; 
  object-fit: cover; 
} */

/* Style for buttons */
/* .btn-buy,
.btn-review {
  padding: 10px;
  margin-top: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.btn-buy:hover,
.btn-review:hover {
  background-color: #0056b3;
} */

/* style.css */

/* .notification-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.notification {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


table th{
  font-size: 15px;
} */

table td{
  font-size: 20px;
}

.review-form{
  width:40%;
  margin:0 auto;
}

.notification-container {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 1000;
  width: 300px;
}

.notification {
  background-color: #484cbb; /* Change the background color as needed */
  color: #fff; /* Change the text color as needed */
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}